/* @wgoulart reset Body Resets */
html {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

body {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #000000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* No `:visited` state is required by default (browsers will use `a`) */

a {
  color: #ffffff;
  text-decoration: none;
}

/* `:focus` is linked to `:hover` for basic accessibility */

a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  line-height: 1.25;
  color: #fff;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h4,
h5,
h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Body text */

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.container {
  width: 95vw;
  margin: 3rem auto;
  position: relative;
}

.social {
  display: block;
  margin: 10vh 0;
  font-size: 16px;
}

.social .social-title {
  display: block;
  margin-top: 1.5rem;
}

.social ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.social li,
.social .item {
  position: relative;
  height: 48px;
  line-height: 48px;
  padding-right: 16px;
  padding-left: 32px;
}

.social .item::before {
  position: absolute;
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  left: 0;
  background-color: #fff;
  transform: translateY(50%) scale(0.8);
  border-radius: 20px;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.social .item:hover::before {
  transform: translateY(50%) scale(1.2);
}

.social a {
  display: block;
}

.social .linkedin::before {
  background-color: #0073b1;
}
.social .dribbble::before {
  background-color: #ea4c89;
}
.social .github::before {
  background-color: #333;
}

.username {
  font-size: 0.875rem;
  font-weight: 400;
}

.main-title {
  font-size: 3.5rem;
  font-weight: 700;
}

.main-title small {
  font-size: 2rem;
  font-weight: 700;
}

.job {
  font-size: 1rem;
  color: #888;
  font-weight: 400;
}

.text {
  color: #70ffba;
  font-weight: 400;
}

.about {
  margin-top: 40vh;
}

/*
 * Tablet ~ Desktop
 * Change font-size
*/

@media (min-width: 48rem) {
  :root {
    font-size: 18px;
  }
}

@media (min-width: 100rem) {
  :root {
    font-size: 24px;
  }
}
